/* Section Header CSS  */

.sectionHeader {
  height: 100vh;
  text-align: center;
  justify-content: center;
  margin: auto;
  z-index: 0;
  background-color: #0074af !important;
}
.top-layer {
  z-index: 10;
  height: 100vh;
  margin: auto;
}
.App-header {
  z-index: 2;
  background-color: "transparent";
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* END Section Header CSS  */
